*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

.contain {
  /* position: absolute; */
  top: 0;
  overflow-x: hidden;
  bottom: 0;
  left: 0;
  right: 0;
}
a{text-decoration: none;}
section{
  /* height:500px; */
  background: #fff;
  /* border:solid #000 1px; */
  font-size: 25px;
}
.logo{
  margin: 20px;
}
.hero{
   background: #1c1d25;
   height:100vh;
   color:#fff;
   /* width: 101.6vw; */
}
.fade-animation{
  opacity: 0;
  transition:1s all ease-in-out;
  transform:translateY(5px) !important
}

.animation-x{
  opacity: 0;
  transition:1s all ease-in-out;
  transform:translateX(-55px) !important
}
.animation-y{
  opacity: 0;
  transition:1s all ease-in-out;
  transform:translateX(55px) !important
}

.show-text-item,
.animation-x-visible,
.animation-y-visible{
  opacity:1;
  transform:translateY(0) !important
}
/* nav */
nav{
  display: flex;
  justify-content: space-between
}

nav ul{
  display: flex;
  list-style: none;
}

ul.show{
  display: block !important;
}
nav ul li{
  margin: 20px;
}
li{text-decoration: none;}

.hamburger{
  display: none;
  border:0;
  background: transparent;
  color:#fff;
  font-size: 30px;
}
.hamburger:focus{
  outline:0 !important
}
a{color:#fff}
/* developer info */
.dev-centered{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}
.dev{
  margin-left: 50px;
  margin-bottom: 100px;
}
.dev h1{
  font-weight: 600;
  font-size: 90px;
}
.form-control{
  width:200px;
  display: inline-block;
}
.dev p{
  font-weight: 500;
  font-size: 30px;
}
.dev button{
  background: coral;
  width: 200px;
  height:50px
}
.dev button:hover{
  background:#ef744b;
}
.dev button:active{background:#A9A9A9;color:rgb(29, 27, 27)}

.socials{
  padding-bottom: 130px;
  margin: 20px;
}

.fa-twitter{
  color:#1DA1F2

}
.fa-linkedin{
  color:#0A66C2

}
.fa-github{
  color:#fff

}
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-github:hover
{
  opacity: .8;
}

/* sub section */
.sub-section{
  display: flex;
  justify-content: space-evenly;
  margin: auto !important;
  padding:80px
}
.sub-section-projects{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:80px
}
.sub-section h2{
  font-size:50px;
  font-weight: 600;
}

.headshot-contain{
  display:flex;
  align-items: center;
}
.headshot{
  width:220px;

}

.accordion a{
  color:rgb(63, 110, 168);
  font-weight: 700;
  font-style: italic;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed{
  background-color: #87e5dd;
  color:rgb(0, 0, 0);
  font-weight: 600;
  border-radius: .2rem;
}
.accordion-body{
  background-color: rgb(236, 234, 234);
}
.link-wrapper {
  position: relative;
  display: block;
}
.accordion a:hover{
  opacity: .9;
  color:#000;
  transition: color .3s ease-in-out;
}
.accordion a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: -2.3px;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: slateblue;
  transition: transform 0.3s;
}
.wrapper-16 a::after{
  background-color: transparent
}

.accordion a:hover::after{
  transform: scaleX(1); 
}
.accordion-title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-weight: bold;
}


/* projects */ 
.project-card{
  width:300px;
  height:500px;
  box-shadow:5px 5px 20px rgb(197, 195, 195);
  margin:10px auto 5px;
}
h2.project-head{
  font-weight: 600;
}
.projects-contain{
  display: flex;
  justify-content:space-around;
  margin: auto;

}
.edge1{
  width:120px !important;
  object-fit: cover;
}

.sub-section-text{
  font-size:15px ;
  font-weight: 300;
  min-height:100px
}

.carousel-item img{
  width: 290px;
  height: 280px;
  margin: auto !important;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}

/* carousel images */
.project-image{
  width:250px ;
  padding: 15px;
  border-radius: 50%;

}
.list-img{
  height:400px;
  margin:20px
}
.nucamp-link:hover{transition:opacity .5s ease-in-out;
  opacity: .9;}
.nucamp-description:first-letter{
  font-size: 200%;
  color: #8A2BE2;
}
.nav-tabs .nav-link{
  color:#6e1319
}
.list-img:hover{
  transform:scale(1.1);
  transition:1s all ease-in-out
}
.position-link,
hr{
  position: relative;
  bottom: 30px;
}
hr{margin-left: 20px;margin-right: 20px;}

footer{
  min-height:50vh;
  background:rgb(177, 177, 233);
  /* width: 101.6vw; */
}

footer input{
  float:right !important;
  margin-right:40px !important
}

footer label[for=message]{
  font-size: 23px;
}

footer textarea{
  border:0;
  border-radius: .2rem;
}

footer input::placeholder{
  float:right;
  font-style: italic;
}
footer textarea{
  padding: 5px;
}
footer textarea::placeholder{
  font-style: italic;
  font-weight: 500;
}

footer .btn{
  padding:5px 25px;
  margin: 10px;
}
/* .tabletTA{
  display: none !important;
}
.phoneTA{
  display: block;
} */






@media (min-width: 992px){
.accordion_two {
  margin-top: 15.5vh;
}
.accordion-title{
  font-weight: normal;
  font-style: italic;
}
}
@media(max-width:768px){
  .logo{
    font-size: 22px;
  }
  section{
    font-size: 15px;
  }
  .headshot{
    width:200px;
  
  }
  .project-card {
    width: 260px;
    height: 315px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px auto ;
}
  .dev{
    margin-left: 20px;
  }
  .dev h1{
    font-weight: 700;
    font-size: 30px;
  }
  .dev p{
    font-weight: 500;
    font-size: 22px;
  }
  .dev button{
    background: coral;
    width: 150px;
    font-size: 18px !important;
    height:40px
  }
  .carousel-item img,
  .height_width{
    width: 120px;
    height: 120px;
  }
  .sub-section-projects {
    display: block;
 
}
hr,
.posistion-link {
 position: relative;
 bottom: 50px;
}
  .sub-section-text{text-align: center;margin: auto 4px;font-size: 13.5px;}
  .projects-contain{
    margin: auto !important;
 
    
  }
  
  
  
}
@media(max-width:500px){
  
  nav ul{
    display: flex;
    align-items: center;  }
    .logo{
      margin: 10px;
  }
  nav ul li{
    margin: 10px;
  }
  .headshot{
    width:180px;
  
  }
  .sub-section{
    display: flex;
    justify-content: space-around;
    padding:60px;
  }

  .projects-contain{
    display: block  
  }
  .row{width: 100vw;margin: auto;}
  .sub-section-projects{
    padding:0
  }
  .carousel-item img,
  .height_width{
    width: 100px !important;
    height: 100px !important;
    margin: auto !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    margin-top: 14px !important;
  }
  .project-card{
    border:0;
    width:300px;
    height:300px;
    box-shadow:5px 5px 20px rgb(197, 195, 195);
    margin:10px auto 5px;
  }

  .form-control{
    /* width:50px; */
    margin: 5px;
    display: inline-block;
  }

  #subject{
    margin-left: 40px !important;
  }
 
}

 @media(min-width:768px){
  .logo{
    font-size: 22px;
  }
  nav ul li a{
    font-size: 25px;
  }
 
  .dev h1 {
    font-weight: 600;
    font-size: 40px;
}
/* footer */
footer form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
footer label{
  margin-right: 15px;
}


} 
@media only screen and (max-width:1000px){
  .hamburger{
    display: block;
    border:0;
    background: transparent;
    color:#fff;
    font-size: 30px;
    margin:10px;
    align-self: flex-end;
   
  }
ul{
  display: none !important;
  margin: 0px;
}
nav{
  display: flex;
  flex-direction: column-reverse;
  background: #2b2c38;

}
ul.show{
 
}
.logo{
  display: none !important;
}
}

@media(min-width:1024px){
  .projects-contain{
    display: flex;
    justify-content:space-around;
    margin: auto;
  
  }
  section{font-size: 30px;}
  .logo{
    font-size: auto;
  }
  nav ul li a{
    font-size: 20px;
  }
 
  .dev h1 {
    font-weight: 600;
    font-size: 80px !important;
}
footer form{
  margin:10px
}
footer form input{
  margin:10px
}
footer form{
display:inline-block !important;
justify-content: flex-start;
}
.form-control{
  width:500px;
  max-width:720px;
  display:flex;
}
footer textarea {
  width: 100% !important;
}
footer .btn{
  padding:5px 45px;
  margin: 10px;
}
}








.wrapper-16:before {
  content: "";
  position: absolute;
  bottom: 0;
  left:-2px;
  width: 3px;
  height: 100%;
  background-color: #ffcc00;
  transform: scaleY(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.wrapper-16:after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #ffcc00;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 0.3s;
}
.wrapper-16 .hover-16 {
  padding: 4px;
}
.wrapper-16 .hover-16:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffcc00;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s;
}
.wrapper-16 .hover-16:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #ffcc00;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.inner-wrapper {
  position: relative !important;
  display: inline-block !important;
}
.wrapper-16:hover:before,
.wrapper-16:hover:after {
  transform: scaleY(1);
}
.wrapper-16:hover .hover-16:before,
.wrapper-16:hover .hover-16:after {
  transform: scaleX(1);
}



/* dark and light mode switch */

.arrow,
.switch-light,
.light-check,
.switch {
  position: absolute;
}



.switch-light {
   margin-top: 15px;
   -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
   right: 0;
   top: 83%;
 }
 
 .switch-light .toggle-light {
   background-color: #030200;
   border-radius: 50px;
   /* cursor:pointer; */
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 5px;
   position: relative;
   
   height: 23px;
   width: 0%;
   -webkit-transform: scale(1.5);
           transform: scale(1.5);
   /* left: 85%; */
   border: 1px solid white;
 }
 
 .switch-light .light-check {
   opacity: 0;
 }

 .dark{
  background:rgb(3,0,0)
 }
 .light{
  background:#ddd
 }


 
 .switch-light .switch {
   background-color: #F8F8F8;
   border-radius: 50%;
   top: 3px;
   left: -11px;
   height: 15px;
   width: 15px;
   -webkit-transform: translateX(16px);
           transform: translateX(16px);
   -webkit-transition: -webkit-transform 0.2s linear;
   transition: -webkit-transform 0.2s linear;
   transition: transform 0.2s linear;
   transition: transform 0.2s linear, -webkit-transform 0.2s linear;
 }
 
 .switch-light input:checked + .toggle-light .switch {
   -webkit-transform: translateX(48px);
           transform: translateX(48px);
 }
 
 .switch-light .fa-sun,
 .switch-light .fa-moon {
   font-size: 1.4rem;
 }
 
 .switch-light .fa-sun {
   color: #F06000;
 }
 
 .switch-light .fa-moon {
   color: #FFA818;
   -webkit-transform: rotate(-90deg);
           transform: rotate(-90deg);
 }
 


 .switch-light {
   margin-top: 20px;
   right: 20px;
 }
 .switch-light .toggle-light {
   left: 75%;
   width: 50px;
 }
 .switch-light .fa-sun,
 .switch-light .fa-moon {
   font-size: .8rem;
 }

 .switch-light .fa-moon{
  position: relative;
  font-size: .6rem;

  bottom: 9px;
 }

 .switch-light .fa-sun{
  position: relative;
  font-size: .7rem;

  bottom: 32px;
  left:26px
 }


 .switch-light .switch {
   top:4.3px;
   left: -12px;
   height: 12px;
   width:12.3px;
   -webkit-transform: translateX(17px);
           transform: translateX(17px);
 }
 .switch-light input:checked + .toggle-light .switch {
   -webkit-transform: translateX(43px);
           transform: translateX(43px);
 }

